@page "/home"
@using PassKey.Login.MongoDb.Blazor.Server.UI.Data;
@inject PassKey.Login.MongoDb.Blazor.Server.UI.IService.IUserService userService
@inject PassKey.Login.MongoDb.Blazor.Server.UI.IService.ICompaniesService companiesService
@inject NavigationManager navManager
@inject IJSRuntime jsRuntime

<style>
    footer
    {
        background-color: @company.Color   
    }

    .dashboard-icon
    {
        background-color: @company.Color
    }
</style>

<br />
<body>
    <main>


<div class="dashboard-blocks">
    <div class="dashboard-header-block">
        <div class="oi oi-bell dashboard-icon"></div>
        <div class="dashboard-child">
            <h6>Notifications</h6>
                    <a href="timesheets" class="dashboard-text">You have <span class="bold">1 time sheet</span> to approve.</a>

        </div>
    </div>
    <div class="dashboard-header-block">
        <div class="oi oi-envelope-closed dashboard-icon"></div>
        <div class="dashboard-child">
            <h6>Messages</h6>
            <p class="dashboard-text">You have 0 new messages.</p>

        </div>
    </div>
    <div class="dashboard-header-block">
        <div class="oi oi-british-pound dashboard-icon"></div>
        <div class="dashboard-child">
            <h6>Payments</h6>
                    <a href="payments" class="dashboard-text">You have <span class="bold">2 payments</span> to approve.</a>

        </div>
    </div>
</div>
<br />

        <div class="grid-container">
            <div class="grid-item grid-graph">
                <Graph />
                </div>
            <div class="grid-item grid-box-jobs">
                
                <h4>Job Matches For You</h4>
                <div class="logo-job">
                <img src="images/amazon.png" alt="Logo"/>
                <div class="company-location">
                <h5>Amazon</h5>
                <p>London</p>
                    </div>
            </div>
                <h5>Sales Manager</h5>
                <p>Your background in business developement makes you a great fit for this role...</p>
          <div class="job-info">
                    <div class="job-item"><span class="job-pay">£50</span><div>per hour</div></div>
                    <div class="job-item"><span class="job-length">3-month</span><div>contract</div></div>
                </div>
            </div>
            <div class="grid-item grid-box-news">
                <h4>Company News</h4>
                <p>@company.Name supporting Amazon's new Christmas recuitment campaign.</p>

            </div>
        
        </div>
    </main>
<footer>
    <h5>@company.Name</h5>
    <h5>@company.Address</h5>
    <h5>@company.PhoneNumber</h5>
</footer>
</body>
@code {

    Users user = new Users();
    Companies company = new Companies();


    protected override async Task OnInitializedAsync()
    {

        string uniqueIdentifier = await jsRuntime.InvokeAsync<string>("localStorage.getItem", "userUniqueIdentifier");
        user = userService.GetUser(uniqueIdentifier);
        company = companiesService.GetCompany(user.CompanyId);

    }

    private void NavigateToAnotherPage()
    {
        navManager.NavigateTo("/users");
    }
    private void NavigateToCompanies()
    {
        navManager.NavigateTo("/companies");
    }

    private string GetGreeting()
    {
        var currentTime = DateTime.Now;

        if (currentTime.Hour >= 5 && currentTime.Hour < 12)
        {
            return "morning";
        }
        else if (currentTime.Hour >= 12 && currentTime.Hour < 17)
        {
            return "afternoon";
        }
        else
        {
            return "evening";
        }
    }
}
